/* styling/NavBar.module.css */
.brand {
    font-weight: bold;
}

.navContent {
    display: flex;
    align-items: center;
}

.navLink {
    margin: 0 1rem;
    color: #fff;
    text-decoration: none;
}

.menuContent {
    position: fixed;
    left: 0;
    height: 100%;
    max-width: 200px;
    width: 100%;
    flex-direction: column;
    background-color: #fff;
    padding: 1rem;
    z-index: 100;
    box-sizing: border-box;
    overflow-y: hidden; /* Hide the vertical scrollbar */
}

.menuContent > * {
    margin-bottom: 1rem;
}

.menLink {
    display: flex; /* Use flexbox to align items */
    align-items: center; /* Align items vertically */
    margin: 0 1rem;
    color: #333;
    text-decoration: none;
}

.icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}